<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}diegowc_ blog{% endblock %}</title>
	<link rel="stylesheet" href="{{ asset('css/foundation.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/flashmessage.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/article.css') }}" />
        <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
	<script src="{{ asset('js/vendor/modernizr.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('blog.ico') }}" />
    </head>
    <body>		
        <div id="topmenu">
        {% block topmenu %}
        {% endblock %}
        </div>
        
        <div id="content" style="min-height: 600px">
        
        {% block rightmenu %}
        
        {% endblock %}
        
        {% block flashmessage %}
            
        {% endblock %}
        
        {% block body %}
        
        {% endblock %}

        </div>
        
        {% block footer %}
        
        {% endblock %}
        
        {% block javascripts %}
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        {% endblock %}
    </body>
</html>
