{% block footer %}
    <footer class="footer">
        <div class="row">
            <div class="small-12 medium-6 large-5 columns">
                <p class="logo"><i class="fi-shield"></i> DIEGOWC_ BLOG</p> 
                <p class="footer-links">
                    <a href="#">Home</a>
                    <a href="#">Blog</a>
                    <a href="#">Pricing</a>
                    <a href="#">About</a>
                    <a href="#">Faq</a>
                    <a href="#">Contact</a>
                </p>
                <p class="copywrite">diegowc_ © 2015</p>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <ul class="contact">
                    <li><p><i class="fi-marker"></i>327 East Michigan Street, Marquette, MI, 49855</p></li>
                    <li><p><i class="fi-telephone"></i>+1-906-214-3252</p></li>
                    <li><p><i class="fi-mail"></i>diegobanosfarinas@gmail.com</p></li>
                </ul>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <p class="about">About diegowc_</p>
                <p class="about subheader">Programmer trying to get a career</p>
                <ul class="inline-list social">
                    <a href="#"><i class="fi-social-facebook"></i></a>
                    <a href="#"><i class="fi-social-twitter"></i></a>
                    <a href="#"><i class="fi-social-linkedin"></i></a>
                    <a href="#"><i class="fi-social-github"></i></a>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}