{% extends 'base.html.twig' %}
{% use 'topmenu.html.twig' %}
{% use 'footer.html.twig' %}

{% block flashmessage %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            <div class="row" style="margin: 10px;">
                <div class="small-6 columns small-centered">
                    <div data-alert class="alert-box success">
                        <i class="fi-check"></i> {{ flashMessage }}
                        <a href="#" class="close">&CircleTimes;</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="row" style="margin: 10px;">
        {% if posts|length > 0 %}
            {% for post in posts %}
                <div class="medium-6 large-4 columns">            
                    <article class="article-card">
                        <img src="http://www.cruisemapper.com/images/ports/default.png">
                        <div class="card-content">
                            <img class="post-icon" src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAYAAAAAJDQ3ZWQzMjQ3LTFkOWMtNGQ0ZC1hNzBkLWE5YjVlYWE0MTkwYQ.jpg" alt="foundation icon">
                            <p class="post-author">By <a href="#">Diego Baños</a></p>
                            <h4>{{ post.title }}</h4>
                            <p>{{ post.content }}</p>
                            <p>
                                <a href="#">Read on...</a> 
                                <a href="#" class="right"><i class="fi-share"></i></a>
                                <a href="#" class="right"><i class="fi-heart"></i></a>
                            </p>
                        </div>
                    </article>
                </div>        
            {% endfor %}
        {% else %}
            <div class="flash-notice">
                <div class="row" style="margin: 10px;">
                    <div class="small-6 columns small-centered">
                        <div data-alert class="alert-box info">
                            <i class="fi-check"></i> There are no posts published yet!
                            <a href="#" class="close">&CircleTimes;</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}